name: release
on: [push]
jobs:
  release:
    runs-on: "ubuntu-latest"
    steps:
      - run: echo "::set-output name=date::$(date +'%m-%d-%Y--%H-%M-%S')"
        id: date
      - uses: actions/checkout@v2
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ steps.date.outputs.date }}
          prerelease: false
          files: |
            final.txt
